/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles - coded by Jessica Mach
   ========================================================================== */

   /************* BASE STYLES *************/
   body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #3B3B3B;
   }

   h1{
    font-family: 'Oxygen', sans-serif;
    font-size: 3.3em;
    margin: 0;
   }

   h2{
    font-size: 2em;
    margin: 0;
   }

   h3{
    font-size: 1.4em;
    margin: 0;
    line-height: 1.2;
   }

   p{
    font-size: 1em;
    margin: 0;
   }

   ul, li{
    margin: 0;
    padding-inline-start: 0;
   }

   main{
    display: grid;
   }

   button{
    width: 80px;
    font-family: 'Oxygen', sans-serif;
   }

   img{
    max-width: 324px;
   }

   figure{
    margin: 5%;
   }

   figcaption{
    color: white;
    font-style: italic;
    margin-top: 5px;
   }

   main{
    width: 100%;
   }

   /************* HEADER STYLES *************/
   header{
    background-color: #86339a;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
   }

   hgroup{
    padding: 100px 0 30px 10%;
    width: 60%;
   }

   header h3{
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 10px;
   }

   nav{
    padding: 10px 0 40px 0;
    display: flex;
    justify-content: flex-end;
   }

   header ul{
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
   }

   header li{
    list-style: none;
    background-color: #3B3B3B;
    padding: 5% 10%;
    margin: 3%;
    width: 80px;
    font-size: .9em;
    text-transform: uppercase;
   }

   header li a {
    color: white;
    text-decoration: none;
   }

   #hamburger-icon{
    padding-right: 20px;
    font-size: 1.5em;
   }

   #nav-menu{
    width: 100px;
   }

   /************* INTRO STYLES *************/
   #intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

   }

   #intro a{
    color: #40095b;
   }
   #intro ul{
    display: flex;
    flex-direction: row;
    margin: 40px 0 60px 0;
   }

   #intro li {
    list-style: none;
    margin: 20px;
    padding: 0;
    font-size: 1.3em;
   }

   #intro h1{
    text-transform: uppercase;
    width: 80%;
    line-height: 1.2;
    margin: 100px 0 60px 10%;
   }

   #intro p {
    width: 80%;
    margin: 60px 0 60px 10%;
   }

   #intro ul {
    margin-left: 10%;
  }

   #intro li {
    margin-left: 0;
  }

   /************* WORK STYLES *************/
   #work {
    background: linear-gradient(#dbc1e2, #6d3176);
   }

   #work h2{
    text-align: center;
    margin: 40px 0;
   }

   #work-item-wrapper {
    display: grid;
    grid-template-columns: 100%;
   }

   .work-items {
    background-color: #40095b;
    color: white;
    margin: 5%;
   }

   .work-items h3{
    font-size: 4em;
    text-align: center;
    padding: 20% 0 5% 0;
   }

   .work-items p{
    padding: 10%;
   }

   #slideshow{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   #big-img{
    width: 80%;
   }

   #thumbnails {
    display: flex;
    flex-wrap: wrap;
   }

   #thumbnails img {
    max-width: 60px;
    max-height: 79px;
    margin: 1%;
   }

   /************* SKILLS STYLES *************/
   #skills{
    background-color: #3B3B3B;
    display: flex;
    justify-content: center;
   }

   #skills article{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #3B3B3B;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
   }

   #skills h2{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
   }

   #skills ul{
    margin-left: 60px;
   }

   #skills li{
    list-style-type: none;
    margin-top: 10px;
   }

   /************* CONTACT STYLES *************/
   #contact{
    background-color: #40095b;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 100px 12%;
   }

   #headshot{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
   }

   #contact figure{
    display: flex;
    justify-content: center;
    margin: 0;
    align-self: center;
   }

   #contact a{
    color: white;
    text-decoration: none;
   }

   #contact p{
    margin: 80px 0;
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media only screen and (min-width: 768px){
  /* Tablet style adjustments */

  /************* HEADER STYLES - TABLET *************/
  header{
    padding-left: 5%;
    padding-right: 0%;
    width: 95%;
    position: fixed;
  }

  hgroup{
    padding: 10px 0 10px 0;
    width: 50%;
  }

  header h2{
    font-size: 1.2em;
  }

  header h3{
    margin: 0;
    font-size: 1em;
  }

  #hamburger-icon{
    display: none;
  }

  #nav-menu{
    display: flex;
    flex-direction: row;
    width: 310px;
  }

  nav{
    padding: 0 10px 0 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  header ul{
    padding-inline-start: 0;
  }

  header li {
    padding: 1%;
    margin: 1.5%;
    text-align: center;
    font-size: 1em;
    width: 90px;
  }

  header li a {
    text-align: center;
  }

  /************* MAIN STYLES - TABLET *************/
  main{
    grid-template-columns: 45% 55%;
    /*grid-template-rows: 4fr 2fr 3fr;*/
  }

  #intro{
    grid-column: 1 / 1;
    grid-row: 1 / -1 ;
    position: fixed;
    align-items: flex-start;
  }

  #intro h1 {
    max-width: 320px;
    margin-top: 160px;
  }

  #intro p {
    max-width: 340px;
    margin: 20px 0 60px 40px;
    font-size: 1.4em;
  }

  /************* WORK STYLES - TABLET *************/

  #work{
    grid-column: 2 / -1;
    padding: 5%;
  }

  #work h2{
    margin-top: 100px;
    font-size: 2.5em;
  }

  #work-item-wrapper{
    grid-row-gap: 10px
  }

  .work-items h3{
    font-size: 4em;
    padding: 10% 0 0 0;
  }

  .work-items p {
    font-size: 1.2em;
  }

  /************* SKILLS STYLES - TABLET *************/
  #skills{
    grid-column: 2 / -1;
  }

  #skills ul{
    width: calc(45% - 60px);
  }

  #skills article{
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }

  #contact{
    grid-column: 2 / -1;
  }
}


@media only screen and (min-width: 1200px) {
    /*Desktop styles here*/
    /************* HEADER STYLES - TABLET *************/
    header li {
      padding: 2% 3%;
      margin: 2%;
      width: 120px;
      font-size: 1.1em;
    }

    #intro h1, #intro p, #intro button, #intro ul{
      margin-left: 80px;
    }

    #intro p {
      font-size: 1.1em;
      max-width: 400px;
    }

    #intro ul{
      margin-top: 20px;
    }

     #work-item-wrapper {
      grid-template-columns: 50% 50%;
    }

    #work h3{
      font-size: 3.5em;
    }

    #work p {
      font-size: 1em;
    }

    #slideshow, #thumbnails{
      grid-column: 1 / -1;
    }

    #thumbnails{
      justify-content: center;
    }


}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

